body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Outfit';
}

main {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #0D192C;
    border-radius: 8px;
}

.main-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #15263F;
    height: 596px;
    width: 350px;
    border-radius: 8px;
}

.image-container {
    display: flex;
    position: relative;
    background-color: red;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0;
    height: 302px;
    width: 302px;
    border-radius: 10px;
}

.picture {
    max-width: 100%;
    max-width: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 0;
    color: white;
}

.description-p {
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 26px;
    color: #2E405A;
}

.NFT-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}

.NFT-section-left {
    display: flex;
    align-items: center;
}

.clock-icone,
.eth-icone {
    width: auto;
    height: 18px;
    margin-right: 10px;
}

.ETH-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: cyan;
}

.NFT-section-right {
    display: flex;
    align-items: center;
}

.time-left {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2E405A;
}

.line {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    height: 1px;
    background: #2E405A;
}

.creator-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.profile-picture {
    bottom: 16px;
    left: 24px;
    height: 33px;
    width: 33px;
    border: 1px solid white;
    border-radius: 50px;
    position: absolute;
    left: 6.86%;
    bottom: 5.37%;
}

.creation-author {
    position: absolute;
    left: 20.86%;
    bottom: 6.54%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2E405A;
}

span {
    color: white;
}